<%= turbo_frame_tag dom_id(@event) do %>
  <div class="xl:w-1/3 md:w-1/2 p-4 border mx-2">
    <div class="bg-white p-6 rounded-lg">
      <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72  rounded w-full object-cover object-center mb-6" src="<%= @event.event_details['image'] %>" alt="Image Size 720x400">
      <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"><%= @event.event_details['recurrence_description'] %></h3>
      <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><%= @event.event_details['name'] %></h2>
      <div class="h-1 -mt-2 w-20 bg-indigo-500 rounded"></div>
      <% if @event.event_details['description'].nil? %>
      <% else %>
        <p class="mt-4 leading-relaxed text-base"><%= @event.event_details['description'].html_safe %></p>
      <% end %>
      <% if @event.event_details['location'].nil? %>
      <% else %>
        <p class="mt-4 leading-relaxed text-sm">Location: <%= @event.event_details['location']['name'].present? ? @event.event_details['location']['name'] : '' %> - <%= @event.event_details['location']['street_address'].present? ? @event.event_details['location']['street_address'] : '' %><br>
          <%= @event.event_details['location']['city'].present? ? @event.event_details['location']['city'] : '' %>, <%= @event.event_details['location']['state'].present? ? @event.event_details['location']['state'] : '' %> <%= @event.event_details['location']['name'].present? ? @event.event_details['location']['zip'] : '' %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>